

#font-volume {
  padding: 0 12px;
  float:right;
}

#font-volume button {
  width: 160px;
  font-weight: bold;
}

#modal {
  min-height:0;
  min-width:0;
  position: absolute; 
  min-width: 11px !important;
  width: auto !important;
}

#modal-content {

  font-size:30px !important;


  min-width: 11px !important;
  width: auto !important;
}

#triangle {
  /* width: 700px;  */
  margin: 1px; 
  padding: 1px;
}

.triangle-row {
  text-align: center;
}

.triangle-row span {
  margin: 3px;
}

.font-20 {
  font-size: 20px !important;
}
.font-19 {
  font-size: 19px !important;
}
.font-18 {
  font-size: 18px !important;
}
.font-17 {
  font-size: 17px !important;
}
.font-16 {
  font-size: 16px !important;
}
.font-15 {
  font-size: 15px !important;
}
.font-14 {
  font-size: 14px !important;
}
.font-13 {
  font-size: 13px !important;
}
.font-12 {
  font-size: 12px !important;
}
.font-11 {
  font-size: 11px !important;
}
.font-10 {
  font-size: 10px !important;
}
.font-9 {
  font-size: 9px !important;
}
.font-8 {
  font-size: 8px !important;
}
.font-7 {
  font-size: 7px !important;
}
.font-6 {
  font-size: 6px !important;
}
.font-5 {
  font-size: 5px !important;
}
