@()

@main("Pascal") {
  <!-- <div class="fixed">
    <div class="controls">
      <label>Rows: </label>
      <input type="number" id="rows" />
    </div>  
    <div class="controls">
      <button id="minus">-</button>
      <button id="plus" >+</button>
    </div>
    <div class="controls">
      <a href="#" title="triangle">t</a>
      <a href="#" title="combination">c</a>
      <a href="#" title="probability">p</a>
    </div>
  </div>
  <br /> -->
  <div id='modal'>
    <div>
      <div id="modal-content" class="modal-content"></div>
    </div>
  </div>

  <div id='triangle'></div>
}
